.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: calc(100vh + 63px);
  }

.typewriter {
    font-size: 50px;
    color: #ffffff;
}